html,
body {
  height: 100%;
  margin: 0;
  letter-spacing: 2px;
}

:root {
  --text: #0a0919;
  --background: #f9f9fd;
  --primary: #a5a3cd;
  --secondary: #8782e3;
  --accent: #5e57e1;
  --linearPrimarySecondary: linear-gradient(#a5a3cd, #8782e3);
  --linearPrimaryAccent: linear-gradient(#a5a3cd, #5e57e1);
  --linearSecondaryAccent: linear-gradient(#8782e3, #5e57e1);
  --linearSecondaryBackground : linear-gradient(.40turn,#f9f9fd,90%,#8782e3);
  --radialPrimarySecondary: radial-gradient(#a5a3cd, #8782e3);
  --radialPrimaryAccent: radial-gradient(#a5a3cd, #5e57e1);
  --radialSecondaryAccent: radial-gradient(#8782e3, #5e57e1);
}

button {
  font: inherit;
}
#container {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  height: 100%;
  font-family: "Verdana", sans-serif;
}

#left {
  background-color: var(--background);
  padding: 20px; /* Add padding for spacing */
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: inset -2px 0 10px 10px rgba(157, 126, 214, 0.06);
}

#right {
  background-color: rgb(80, 67, 67);
  display: grid;
  grid-template-rows: 1fr 8fr;
}

#header {
  background-color: var(--secondary);
}

#content {
  padding: 2%;
  background: var(--linearSecondaryBackground);
}

#task_form {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

#task_form section {
  margin-bottom: 10px;
}

#task_form input[type="text"],
#task_form input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#task_form input[type="text"] {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#notes {
  width: calc(100% - 10px);
  height: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  box-sizing: border-box;
  vertical-align: top;
  line-height: normal;
}

#task_form input[type="radio"] {
  margin-right: 10px;
}

#task_form label {
  margin-right: 5px;
}

#task_form button {
  background-color: var(--accent);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;

}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#card_text{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  gap:5px;
}

.task_card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: var(--accent) 10px solid;
  width: calc(100% - 20px);
}

.task_card p {
  margin: 0;
}

.remove {
  width:35px;
  height: auto;
  aspect-ratio: 1/1;
  fill: var(--accent);
  background: none;
  border: transparent;
  scale:1;
  transition: scale 0.2s ease;
  transition: fill 0.2s ease;
}

.remove:hover{
  scale: 1.2;
  fill: red;
  transition: scale 0.2s ease;
  transition: fill 0.2s ease;
}

#task_submit {
  background-color: var(--accent);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  float: right;
}

#task_submit svg {
  width: 20px;
  height: 20px;
  fill: var(--background);
}

#task_submit:hover {
  background: var(--radialSecondaryAccent) ;
}

#task_form input[type="radio"] {
  display: none;
}

#task_form input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #555;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#task_form input[type="radio"]:checked + label {
  background: var(--linearSecondaryAccent);
  color:var(--background);
  border: none;
}

#prio_date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#title_desc{
  display: flex;
  flex-direction: column;
  gap:5px;
}
#priority {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:5px;
}

#due_date_div{
  display: flex;
  justify-content: flex-start;
}

/* header */
#header {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  color: var(--background);
  /* box-shadow: inset 0px -4px 10px 0px rgba(0, 0, 0, 0.6);*/
}

#project_header {
  font-size: 2em;
  font-weight: 600;
  padding: 2%;
  display: flex;
  align-items: center;
}

/* left side */

#left p {
  font-size: 2.4em; /* Adjust font size */
  font-weight: bold; /* Add bold font weight */
  color: var(--accent);
}
#logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:5px
}

#logo svg{
  width:50px;
  height:50px;
  fill: var(--accent);
}
#project_form {
  margin-bottom: 20px; /* Add margin for spacing */
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px;
}

#project_title {
  padding: 10px;
  width: 200px; /* Adjust the width as needed */
  border: 1px solid var(--secondary);
  border-radius: 5px;
  font-size: 16px;
  /* margin-bottom: 10px; */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

#project_title:focus {
 border:1px solid var(--accent)
}

#projects {
  overflow-y: auto; /* Add scrollbar if content overflows vertically */
  max-height: 70vh; /* Limit the maximum height of the project list */
}

#project_list {
  padding: 10px; /* Add padding for spacing */
  border-radius: 4px; /* Add border radius for rounded corners */
  display: flex;
  flex-direction: column;
}

#project_list p{
  color:var(--background);
}

.project-card {
  background-color: var(--primary); /* Background color for project cards */
  padding: 10px 20px; /* Padding for project cards */
  border: none; /* Remove default button border */
  border-radius: 10px; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-bottom: 10px; /* Add margin between project cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 20vw;
  transition: background-color 0.2s ease-out;
}

.project-card:hover {
  background-color: var(--secondary); 
  transition: background-color 0.3s ease-in;/* Change background color on hover */
}
.checked {
  background-color: var(--accent); 
  color: whitesmoke;
  border-left: 10px solid var(--secondary);
  /* Change to whatever color you prefer */
}

.checked svg{
  fill: var(--background);
}
.desc_para{
  max-width: 70px;
  max-height: 90px;
  overflow: scroll;
}
#checkbox{
  width:30px;
  height: 30px;
  border: 10px solid white ;
  background-color: #eee;
}
/* #desc_para{} */

.remove-button {
  background-color: var(--background); /* Background color for remove button */
  border: none; /* Remove default button border */
  padding: 5px;
  font-weight: 600; /* Padding for remove button */
  border-radius: 100%; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  display: flex;
  width:40px;
  height:40px;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
}

.remove-button svg{
  width:22px;
  height:22px;
  fill: var(--primary);
  transition: fill 0.1s ease;
}

.remove-button:hover {
  background-color: var(--accent); /* Change background color on hover */
}

.remove-button:hover svg {
  fill: white; /* Change background color on hover */
  transition: fill 0.1s ease;
}

#add_project_btn svg {
  width: 20px;
  height: 20px;
  fill: white;
  transition: fill 0.1s ease;
}
#add_project_btn {
  background-color: var(--accent);
  color: white;
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  /* float: right; */
}
#add_project_btn:hover {
  background: var(--linearSecondaryAccent);
}

#project_card_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  gap:40px
}
#project_card_div p {
  font-size: 1.2em;
  font-weight: 400;
}

#head_icon{
  display: flex;
  gap:10px;
  justify-content: flex-start;
  align-items: center;
}

#head_icon svg{
  width:40px;
  fill: var(--background);
  height:auto;
}