/* Reset and General Styles */
html,
body {
  height: 100%;
  margin: 0;
  letter-spacing: 2px;
}

/* Variables */
:root {
  --text: #0a0919;
  --background: #f9f9fd;
  --primary: #a5a3cd;
  --secondary: #8782e3;
  --accent: #5e57e1;
  --linearPrimarySecondary: linear-gradient(#a5a3cd, #8782e3);
  --linearPrimaryAccent: linear-gradient(#a5a3cd, #5e57e1);
  --linearSecondaryAccent: linear-gradient(#8782e3, #5e57e1);
  --linearSecondaryBackground : linear-gradient(.40turn,#f9f9fd,90%,#8782e3);
  --radialPrimarySecondary: radial-gradient(#a5a3cd, #8782e3);
  --radialPrimaryAccent: radial-gradient(#a5a3cd, #5e57e1);
  --radialSecondaryAccent: radial-gradient(#8782e3, #5e57e1);
}

/* Typography */
button {
  font: inherit;
}

/* Layout */
#container {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  height: 100%;
  font-family: "Verdana", sans-serif;
}

/* Left Sidebar */
#left {
  background-color: var(--background);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: inset -2px 0 10px 10px rgba(157, 126, 214, 0.06);
}

/* Right Sidebar */
#right {
  background-color: rgb(80, 67, 67);
  display: grid;
  grid-template-rows: minmax(50px, min-content)
}

/* Header */
#header {
  background-color: var(--secondary);
}

/* Content Area */
#content {
  padding: 2%;
  background: var(--linearSecondaryBackground);
}

/* Task Form */
#task_form {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

#task_form section {
  margin-bottom: 10px;
}

/* Form Inputs */
#task_form input[type="text"],
#task_form input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#task_form input[type="text"] {
  width: calc(100% - 10px);
}

#task_form textarea{
  font-size: 1.3em;
  font-weight: 100;
}

/* Task Form Textarea */
#notes {
  width: calc(100% - 10px);
  height: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  box-sizing: border-box;
  vertical-align: top;
  line-height: normal;
}

/* Task Form Radio Buttons */
#task_form input[type="radio"] {
  margin-right: 10px;
}

#task_form label {
  margin-right: 5px;
}

/* Task Form Button */
#task_form button {
  background-color: var(--accent);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
}

/* Cards Container */
#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Task Card Text */
.card_text_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

/* Remove Button */
.remove {
  grid-column: 4/5;
}

/* Task Card */
.task_card {
  background-color: var(--background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: var(--accent) 10px solid;
  width: calc(100% - 20px);
}

.task_card p {
  margin: 0;
}

.title_desc_div{
  display: flex;
  align-items: center;
  gap:30px;
  font-weight: 800;
  color: var(--accent);
}

.checkbox_title_desc_div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:20px;
}

.due_date_priority_div{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.title_desc_div div{
  font-weight: 400;
  color: var(--text);
}

.title_desc_div p{
  align-self: flex-start;
}

#title_para {
  overflow-y: visible;
  word-wrap: break-word;
  max-width: 8vw;
  min-width: 8vw;
  min-height: fit-content;
  max-height: 2em;
}


/* Remove Button Styling */
.remove {
  width: 35px;
  height: auto;
  aspect-ratio: 1/1;
  fill: var(--accent);
  background: none;
  border: transparent;
  scale: 1;
  transition: scale 0.2s ease, fill 0.2s ease;
}

.remove:hover {
  scale: 1.2;
  fill: red;
}

/* Task Submit Button */
#task_submit {
  background-color: var(--accent);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  float: right;
}

#task_submit svg {
  width: 20px;
  height: 20px;
  fill: var(--background);
}

#task_submit:hover {
  background: var(--radialSecondaryAccent);
}

/* Hide Radio Inputs */
#task_form input[type="radio"] {
  display: none;
}

/* Style Radio Labels */
#task_form input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #555;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#task_form input[type="radio"]:checked + label {
  background: var(--linearSecondaryAccent);
  color: var(--background);
  border: none;
}

/* Priority Date Section */
#prio_date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#prio_date label{
font-weight: 600;
color: var(--accent);
}

#prio_date legend{
  font-weight: 600;
  color: var(--accent);
  }

/* Title Description Section */
#title_desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Priority Section */
#priority {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

/* Due Date Section */
#due_date_div {
  display: flex;
  justify-content: flex-start;
}

/* Header */
#header {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  color: var(--background);
}

#project_header {
  font-size: 2em;
  font-weight: 600;
  padding: 2%;
  display: flex;
  align-items: center;
}

/* Left Sidebar */
#left p {
  font-size: 2.4em;
  font-weight: bold;
  color: var(--accent);
}

#logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

#logo svg {
  width: 50px;
  height: 50px;
  fill: var(--accent);
}

/* Project Form */
#project_form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px;
}

#project_title {
  padding: 10px;
  width: 200px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

#project_title:focus {
  border: 1px solid var(--accent);
}

#projects {
  overflow-y: auto;
  height:80vh;
}

#project_list {
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

#project_list p {
  color: var(--background);
}

.project-card {
  background-color: var(--primary);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 20vw;
  transition: background-color 0.2s ease-out;
}

.project-card:hover {
  background-color: var(--secondary);
}

/* Checked State */
.checked {
  background-color: var(--accent);
  background: var(--accent);
  color: whitesmoke;
  border-left: 10px solid var(--secondary);
}

.checked svg {
  fill: var(--background);
}

.task_card.checked {
  background-color: var(--accent); 
  border-left: 10px solid var(--secondary); 
}

.task_card.checked p{
  color: var(--background); 
}

.task_card.checked div{
  color: var(--background); 
}
.desc_para {
  /* overflow-x: auto;  */
  min-height: fit-content;
  overflow-y: visible;
  max-width: 30vw;
  min-width: 30vw;
}

#checkbox {
  width: 30px;
  height: 30px;
  border: 10px solid white;
  background-color: #eee;
  grid-column: 1/2;
}

/* Remove Button */
.remove-button {
  background-color: var(--background);
  border: none;
  padding: 5px;
  font-weight: 600;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
}

.remove-button svg {
  width: 22px;
  height: 22px;
  fill: var(--primary);
  transition: fill 0.1s ease;
}

.remove-button:hover {
  background-color: var(--accent);
}

.remove-button:hover svg {
  fill: white;
}

/* Add Project Button */
#add_project_btn svg {
  width: 20px;
  height: 20px;
  fill: white;
  transition: fill 0.1s ease;
}

#add_project_btn {
  background-color: var(--accent);
  color: white;
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

#add_project_btn:hover {
  background: var(--linearSecondaryAccent);
}

/* Project Card Section */
#project_card_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  gap: 40px;
}

#project_card_div p {
  font-size: 1.2em;
  font-weight: 400;
}

#head_icon {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

#head_icon svg {
  width: 40px;
  fill: var(--background);
  height: auto;
}
